<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJbSrkKOW9_0YhXeIjYhBOZYy_HzkFJs0</string>
	<key>GCM_SENDER_ID</key>
	<string>351773156553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>K35.Con</string>
	<key>PROJECT_ID</key>
	<string>kicc-conference</string>
	<key>STORAGE_BUCKET</key>
	<string>kicc-conference.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351773156553:ios:8dbc89ec1db88717191918</string>
</dict>
</plist>